{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="{% static 'representation/styles2.css' %}">
</head>
<body>
    <div class="menu-container">
        <div class="menu-buttons">
            <h1>Меню</h1>
            <a href="/representation" class="menu-btn">Дашборд моделей</a>
            <a href="/representation/graph_menu/" class="menu-btn">Графіки і Діаграми</a>
            <a href="/admin" class="menu-btn">Адмін-Клієнт</a>
        </div>
        <div class="menu-images">
            <img src="https://images.cnscdn.com/4/7/8/c/478c936f7397d676cb64e1b38d451b08/original.jpg" alt="Зображення меню 1">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/DPKr3-001_at_Kiev-Passenger_station_%281%29.jpg/250px-DPKr3-001_at_Kiev-Passenger_station_%281%29.jpg" alt="Зображення меню 2">
        </div>
    </div>
</body>
</html>
