<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Виробники та типи вагонів</title>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.6.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.6.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.6.1.min.js"></script>
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-3.6.1.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Виробники та типи вагонів</h1>

    <div id="bokeh-plot">
        {{ div|safe }}
    </div>
    <script>
        {{ script|safe }}
        {{ script|safe }}
    </script>
</body>
</html>
